@import "tailwindcss";

@tailwind utilities;
@tailwind utilities;

/* Custom multi-line truncation */
.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  